html
  head
    title Mushtarak Quiz Night -
    block scripts
     script(src='/jquery.js')
     link(rel="stylesheet", href="/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
     link(rel="stylesheet", href="/css/bootstrap-theme.min.css", integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r", crossorigin="anonymous")
     link(rel="stylesheet", href="/css/style.css")
     script(src='/socket.io/socket.io.js')    

  body
    block page
      div(class="text-center")
        div(class="container")
          div(class="navbar")
             div(class="navbar-header") 
               img(class="img-responsive logo" src="/images/logo.png")
               div(class="navbar-brand")
                 span Mushtarak Quiz night
          div(class="row")
            div(class='col-xs-12')
                block content

